<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%if can? :index, Comment%>
      <li><%=link_to t(:index), comments_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=link_to @comment.fullname, @comment%></li>
  </ul>
<%end%>
<%= render 'form' %>
