<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <%if @is_user%>
      <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%end%>
    <%if can? :index, Comment  and @is_userand%>
      <li><%=link_to t(:index), comments_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=t(:new) + " " + t(:wcomments)%></li>
  </ul>
<%end%>
<%= render 'form' %>