<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%if can? :index, Status%>
      <li><%=link_to t(:index), statuses_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=t(:new) + " " + t(:wstatus)%></li>
  </ul>
<%end%>
<%= render 'form' %>