<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <%if @is_user%>
      <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%end%>
    <%if can? :index, Client%>
      <li><%=link_to t(:index), clients_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=link_to @client.fullname, @cient%></li>
  </ul>
<%end%>
<%= render 'form' %>
