<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <%if @is_user%>
      <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%end%>
    <%if can? :index, Bill%>
      <li><%=link_to t(:index), bills_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=link_to @bill.name, @bill%></li>
  </ul>
<%end%>
<%= render 'form' %>
