<%content_for :breadcrumb do%>
  <ul class="breadcrumb">
    <li><%=link_to @current_user.branch.name, @current_user.branch%><span class="divider">/</span></li>
    <%if can? :index, Order%>
      <li><%=link_to t(:index), orders_path%><span class="divider">/</span></li>
    <%end%>
    <li class="active"><%=link_to @order.client.fullname, @order%></li>
  </ul>
<%end%>
<%= render 'form' %>
